
/*
* Navbariga seotud CSS
*/ 


body {
    position: relative;
    font-family: 'Inter', sans-serif;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    font-weight: bold;
}


 
   .nav-link:hover {
        color: white;
        text-decoration: underline;
        transition: font-size 1s ease-in-out;
    }

    .nav-link:active {
        color: white;
        font-weight: 700;
        transition: font-size 1s ease-in;
    }
   
   
    .navbar-brand {
        font-size: 32px;
        font-weight: 500;
        color: white;
    }

    .navbar-nav {
        font-size: 16px;
    }
 
    .navbar-item {
        margin-left: 0px;
        margin-right: 20px;
    }


    .navbar-brand:focus, .navbar-brand:hover {
          color: white;
          font-weight: 700;
          transition: font-size 1s ease-in-out;
    }

    .navbar-dark .navbar-brand {
        font-family: 'Roboto Mono';
    }


/*
* Hero'ga seotud CSS
*/


    .hero {
        background-color: #2D372A;
        color: white;
    }

    .hero .top {
        background-color: #2D372A;
    }

    .hero2 .bottom {
        background-color: white;
        height: 2rem;
    }



/*
* Teenustega seotud CSS
*/


    .services {
        background-color: #F3EFED;
    }

    .btn-secondary {
        color: #fff;
        background-color: #3E383E;
        border-color: #3E383E;
        font-weight: 700;
        border-radius: 0.75rem;
    }

    .btn-secondary:hover {
        color: #fff;
        background-color: #514C51;
        text-decoration: underline;
    }

    .btn-secondary:focus {
        color: #fff;
        background-color: #3E383E;
        border-color: #3E383E;
        box-shadow: 0 0 0 0.1252rem rgb(130 138 145 / 50%);
    }

    .services a {
        color: white;
    }

    .services a:hover {
        color: white;
        text-decoration-color: white;
    }


/*
* Meeskond sektsiooniga seotud CSS
*/

    .team {
        background-color: #F3EFED;
    }

    .team .bi {
        font-size: 1.5rem;
    }

    .team a {
         color: #006699;
    }

    .team a:hover {
        color: #00527A;
        transition: font-size 1s ease-in-out;
    }

    


/*
* Banneriga seotud CSS
*/

    .banner-img {
        padding: 0 !important;
        margin: 0 !important;
    }

    .banner .row {
        align-items: center;
        background-color: #3E383E;
    }

    .banner-text {
        color: white;
    }



/*
* Partneritega seotud CSS
*/

    .partners .bi {
        font-size: 1.5rem;
    }

    .partners a {
         color: #006699;
    }

    .partners a:hover {
        color: #00527A;
        transition: font-size 1s ease-in-out;
    }

/*
* Kontaktiga seotud CSS
*/

    .contact {
        background-color: #2D372A;
        color: white;
    }

 

/* 
* Fondid kui ekraan on väiksem kui 765px
*/    

   @media screen and (max-width: 765px) {

    .py-xs-4 {
        padding: 2rem 1rem;
    }

    .py-xs-5 {
        padding: 2.25rem;
    }

    .pt-xs-5 {
        padding-top: 2.25rem ;
    }

    .mb-xs-3 {
        padding-bottom: 1.5rem;
    }

    .mt-xs-3 {
        padding-top: 1.5rem;
    }

    .mb-xs-5 {
        margin-bottom: 2.25rem;
    }

    .h2 {
        font-weight: 400 !important;
    }
        
    .banner-text p {
        margin-bottom: 0;
    }

    .text-xs-center {
        text-align: center;
    }

    .skills p {
        font-size: 0.875rem;
    }

    .contact p {
        margin-bottom: 0 !important;
    } 

}  


/*
* Fondid kui ekraan on suurem kui 768px
*/
    
    @media screen and (min-width: 768px) {


        .hero h1 {
            font-weight: 700;
            color: white;
        }

        .hero h2 {             
            font-weight: 400;
            color: white;
        }

        .services h3 {
            font-size: 2rem;
            font-weight: 500;
        }

        .services h5 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .services p {
            font-size: 1.25rem;
            font-weight: 400;  
        }

        .btn {
            width: 17.5rem;
        }

        .btn-secondary {
            font-size: 1.25rem;
        }

        .story h3 {
            font-size: 2rem;
            font-weight: 500;
        }

        .story p {
            font-size: 1.25rem;
            font-weight: 400;
        }

        .team h5 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .team .skills {
            font-size: 1.125rem;
            font-weight: 400;
        }

        .team p {
            font-size: 1.25rem;
            font-weight: 400;
        }

        .banner h4 {
            font-size: 1.625rem;
            font-weight: 500;
        }

        .banner-text {
            justify-content: center;
            align-items: flex-start;
            padding-left: 4rem;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .partners h3 {
            font-size: 2rem;
            font-weight: 500;
        }

        .partners p {
            font-size: 1.25rem;
            font-weight: 400;
        }

        .partners h5 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .partners .skills {
            font-size: 1.125rem;
            font-weight: 400;
        }

        .contact h3 {
            font-size: 2rem;
            font-weight: 500;
        }
      
        .contact p {
            margin-bottom: 0 !important;
            font-size: 1.125rem;
            font-weight: 400;
        }


    }

    @media screen and (min-width: 993px) {

        .hero h1 {
            font-size: 3rem;
            font-weight: 700;
            color: white;
        }

        .hero h2 {
            font-size: 2.75rem;             
            font-weight: 400;
            color: white;
        }

    }

