
$primary: #2D372A;
$navbar-dark-color: rgba($white, 1);
$font-family-monospace: 'Roboto Mono', monospace;;
$font-family-sans-serif: 'Inter', sans-serif;;
$headings-font-family: 'Roboto Mono', monospace;;